---
---

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Condensed.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-CondensedItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-stretch: condensed;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-BoldCondensed.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-BoldCondensedItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-stretch: condensed;
}

@font-face {
  font-family: 'ZTNature';
  src: url('/fonts/ZTNature-Thin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'ZTNature';
  src: url('/fonts/ZTNature-ThinItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'ZTNature';
  src: url('/fonts/ZTNature-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ZTNature';
  src: url('/fonts/ZTNature-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'ZTNature';
  src: url('/fonts/ZTNature-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ZTNature';
  src: url('/fonts/ZTNature-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 18px/1.4 'Roboto';
  font-weight: 400;
  color: $darkGray;
  text-align: justify;

  @include mobile {
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
  }

}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'ZTNature', $helveticaNeue;
  color: $darkerGray;
  font-weight: normal;

  line-height: 1.2;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 36px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
  color: $gray;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
}

p {
  margin: 15px 0;
}

a {
  color: $darkGray;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $darkRose;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 0;
  width: 100%;
  max-width: 100%;
}

.masthead {
  max-width: 100%;
  padding: 10px 200px;
  align-items: center;

  @include mobile {
    text-align: center;
    padding: 20px 10px;
    display: block;
  }
}

.site-avatar {
  float: left;
  width: 110px;
  height: auto;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.hero-image {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-top: -30px;
  max-width: none;

  @include mobile {
    min-height: 200px;
    max-height: none;
    object-fit: cover;
    object-position: left center;
  }
}

.site-info {
  float: left;
  display: flex;
  align-items: center;
  min-height: 92px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
    height: auto;
    min-height: auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: 'ZTNature', $helveticaNeue;
  font-weight: 500;  /* Regular for "critical" */
  font-size: 36px;
  letter-spacing: -1px;
  line-height: 0.8;  /* Tighter line spacing */
  text-transform: lowercase;
  
  .the {
    font-weight: 500;  /* Thin like "critical" or lighter */
    font-size: 26px;   /* Smaller than the rest */
  }

  .bold {
    font-weight: 900;  /* Black for "moment" */
  }
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  display: flex;
  margin-top: 40px; // @TODO: Vertically middle align
  font-family: 'ZTNature', $helveticaNeue;
  font-weight: 500;
  font-size: 28px;
  
  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 500;
    letter-spacing: 1px;

    @include mobile {
      float: none;
      margin: 0 10px;
      color: $darkRose;
    }
  }
}

.services-layout {
  display: flex;
  align-items: flex-start;
  gap: 10px;
    
  @include mobile {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

.services-content {
  @include mobile {
    max-width: 90%;  }
}
  
  > div:first-child {
    @include mobile {
      text-align: center;  /* Center the image inside its div */
    }
  }
  
  img {
    @include mobile {
      max-width: 85%;
      display: block;
      margin: 0 auto;  /* Center the image */
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $rose;
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
