
//
// VARIABLES
//

// Colors
$blue: #4795e4;
$darkBlue: #062b62;

// Critical Moment brand colors
$mint: #9DF4B0;
$peach: #FBB965;
$rose: #F5898D;

// Darker versions
$darkMint: #377048;
$darkPeach: #ac7022;
$darkRose: #a23c3f;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}