<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% include meta.html %}
    
    <!-- Open Graph / Social Media Preview -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}The Critical Moment{% endif %}">
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}Meditation for Liberation.{% endif %}">
    <meta property="og:image" content="https://thecriticalmoment.org/images/mobile-preview.jpg">
    <meta property="og:url" content="https://thecriticalmoment.org{{ page.url }}">
    <meta property="og:type" content="website">

    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <div class="wrapper-masthead">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name" style="text-shadow: none; border-bottom: none;"><a href="{{ site.baseurl }}/"><span class="the">the</span><br>critical<br><span class="bold">moment</span></a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/offerings">Offerings</a>
            <a href="{{ site.baseurl }}/blog">Blog</a>
            <a href="{{ site.baseurl }}/about">About</a>
            <a href="{{ site.baseurl }}/faq">FAQ</a>
          </nav>
        </header>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

<div class="wrapper-footer">
  <footer class="footer">
    <br>
    <form
      action="https://buttondown.com/api/emails/embed-subscribe/thecriticalmoment"
      method="post"
      class="embeddable-buttondown-form"
      referrerpolicy="unsafe-url">
      <label for="bd-email">Get new blog posts in your inbox</label>
      <input type="email" name="email" id="bd-email" placeholder="your@email.com" />
      <input type="submit" value="Subscribe" />
    </form>
    <br>
    <div>
      <a href="mailto:joshua@thecriticalmoment.org"><span style="font-weight: 300; font-size: 22px; color: white; font-family: 'Roboto';">joshua@thecriticalmoment.org</span></a>
    </div>
    <div style="font-weight: 500; font-size: 24px; font-family: 'ZTNature';">
      <span style="font-size: 18px;">the</span>critical<strong>moment</strong>
    </div>
    <br>
  </footer>
</div>

    {% include analytics.html %}
  </body>
</html>
